.header-container {
    background-color: rgb(0, 183, 255);
    padding: 15px;
    header {
        display: flex;
        width: 100%;
        width: 1200px;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;

        h2{
            color: white;
        }
    }
}
